<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNdXBTXoD9_tbTKBZzUBFvk2YnafKdWhU</string>
	<key>GCM_SENDER_ID</key>
	<string>139899370854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flixId</string>
	<key>PROJECT_ID</key>
	<string>flix-id-cour</string>
	<key>STORAGE_BUCKET</key>
	<string>flix-id-cour.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139899370854:ios:ef740cf7b8b344c0b59ca7</string>
</dict>
</plist>